:root {
    --text: #050506;
    --background: #fcfcfd;
    --primary: #5c59af;
    --secondary: #daa1d3;
    --accent: #e55270;
}


body {
    background-color: #fcfcfd;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

#pagetitle {
    text-align: center;

    font-weight: 100;
    font-size: 80px;
    margin: 0;
}

div#para {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}


.topnav {
    background-color: #5c59af;
    overflow: hidden;
    padding-top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #daa1d3;
    color: #050506;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e55270;
    color: white;
}

hr {
    border: 1px;
    margin: auto;
    margin-top: 3px;
    width: 100%;
    height: 3px;
    background-color: gray;
}


#indexCard {
    border: #050506 1px solid;
    border-radius: 10px;
    position: relative;
    margin: auto;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;

    h2 {
        margin-top: 5px;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 200;
        font-size: 50px;
    }
}

#projCardHolder {
    margin: 5px;
    overflow: hidden;
}

.projCard {
    margin: 10px;
    float: left;
    border: #050506 2px solid;
    border-radius: 10px;
    object-fit: cover;
    width: 22.5%;
    height: 150%;
    transition: 100ms ease-in-out;
}


.projCard h3 {
    text-align: center;
    margin: 5px;
    font-weight: 300;
    font-size: 30px;
}

.projCard h5 {
    text-align: center;
    margin: 5px;
    font-weight: 500;
}

.projCard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 200px;
    height: 160px;
    transition: 100ms ease-in-out;
}
.projCard a{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* No underlines on the link */
    z-index: 10;
    /* Places the link above everything else in the div */
}
.projCard:hover {
    border: #5c59af 5px solid;
    h3 {
        font-weight: 400;
    }
    img{
        border: #5c59af 3px solid;
        border-radius: 10px;

    }
}


.contact {
    height: 100px;
    margin: 20px 30%;
    border: 1px solid;
    border-radius: 10px;
    transition: all 400ms ease-out;
    position: relative;
}

.contact a {
    font-weight: 100;
    font-size: 200%;
    color: #050506;
    text-decoration: none;
    transition: all 1000ms ease-in;
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:hover {
    border: 1px, #e55270;
    padding: 20px;
    background-color: #5c59af;
    color: #fcfcfd;
    a{
        color: #f2f2f2;
        text-shadow:#e55270 2px 2px, #e55270 1px 1px, #e55270 3px 3px ;
    }
}