:root{
--text: #050506;
--background: #fcfcfd;
--primary: #5c59af;
--secondary: #daa1d3;
--accent: #e55270;
}


body {
    background-color: #fcfcfd;
    margin: 0;
}

#pagetitle {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 80px;
    margin: 0;
}

div#para {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.topnav {
    background-color: #5c59af;
    overflow: hidden;
    padding-top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #daa1d3;
    color: #050506;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e55270;
    color: white;
}

hr {
    border: 1px;
    margin: auto;
    margin-top: 3px;
    width: 100%;
    height: 3px;
    background-color: gray;
}

.project {
    max-width: 45%;
    margin: auto;
    font-family: "Raleway", sans-serif;
    border: 1px;
    padding: 10px;
    
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.project:hover{
    border: 5px;
    border-style: solid;
    /* REDO THIS PART SO IT HAS ROUNDED CORNERS*/
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.project img {
    border-radius: 10px;
    margin: auto;
    object-fit: none;
    width: 100%;
    height: 30vh;
    display: block;

}

.project h2 {
    color: #e55270;
    font-weight: 300;
    font-size: 200%;
}
.project a{
    color: #e55270;
}
.project p {
    font-weight: 200;
    font-size: 120%;
}
.contact{
    font-family: "Raleway", sans-serif;
    text-align: center;   
    margin: 20px;
    margin-left: 30%;
    margin-right: 30%; 
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    transition: all 400ms ease-out;
}
.contact h2{
    font-weight: 100;
    font-size: 200%;
}
.contact:hover {
    border: 1px, #e55270;
    padding: 20px;
    background-color: #5c59af;
    color:#fcfcfd ;
}