:root {
    --text: #050506;
    --background: #fcfcfd;
    --primary: #5c59af;
    --secondary: #daa1d3;
    --accent: #e55270;
}


body {
    background-color: #fcfcfd;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

#pagetitle {
    text-align: center;

    font-weight: 100;
    font-size: 80px;
    margin: 0;
}

div#para {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.topnav {
    background-color: #5c59af;
    overflow: hidden;
    padding-top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #daa1d3;
    color: #050506;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e55270;
    color: white;
}

hr {
    border: 1px;
    margin: auto;
    margin-top: 3px;
    width: 100%;
    height: 3px;
    background-color: gray;
}
@keyframes projectHover {
    0% {background-image: linear-gradient(360deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);}
    50% {background-image: linear-gradient(180deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);}
    100% {background-image: linear-gradient(0deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);}
  }
.project {
    max-width: 45%;
    margin: auto;
    border: 2px;
    padding: 6px 12px;
    position: relative;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: white;
    box-shadow: inset 0 100vw white;
    transition: all 200ms ease-in-out;

}

.project:hover {
    border-radius: 10px;
    padding: 8px 14px;
    background-image: linear-gradient(330deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    animation: steps(20, jump-none) projectHover 2s infinite;
    background-origin: border-box;
    box-shadow: inset 0 100vw white;
    border: 5px solid transparent;
}

.project img {
    border-radius: 10px;
    margin: auto;
    object-fit: none;
    width: 100%;
    height: 30vh;
    display: block;

}

.project h2 {
    color: #e55270;
    font-weight: 300;
    font-size: 200%;
}

.project a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* No underlines on the link */
    z-index: 10;
    /* Places the link above everything else in the div */
}

.project p {
    font-weight: 200;
    font-size: 120%;
}

.contact {

    text-align: center;
    margin: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    transition: all 400ms ease-out;
}

.contact h2 {
    font-weight: 100;
    font-size: 200%;
}

.contact:hover {
    border: 1px, #e55270;
    padding: 20px;
    background-color: #5c59af;
    color: #fcfcfd;
}

.bio {

    margin-top: 20px;
    margin-left: 15%;
    margin-right: 25%;

    width: 70%;
    border: 1px;
    border-style: solid;
    border-radius: 10px;

    #names {
        float: right;
        margin-right: 20%;
    }

    h2 {
        font-weight: 100;
        font-size: 500%;
        margin-bottom: 0px;

    }

    h3 {
        font-weight: 200;
        font-size: 160%;

    }

    ul {
        list-style-type: '-';
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #pfp {
        margin-top: 3%;
        margin-left: 6%;
        border: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 10px;
        min-width: 250px;
        min-height: 250px;
        display: inline-block;
    }

    img {
        border-radius: 10px;
    }
}